 body,
      html {
        height: 100%;
        margin: 0;
        font-family: 'Lato', sans-serif;
      }

      #container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: white;
        text-shadow: 3px 4px #00000042;
      }

      #ampm {
        font-size: 6vw;
        margin-left: 5px;
        font-weight: bold;
      }

      #clock {
        font-size: 25vw;
        font-weight: bold;
        text-align: center;
      }

      #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 900vh;
        z-index: -30;
      }
	  #perc{
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2vw;
		transition: height 1s, background-color 2s ease-in-out;
		z-index: -15;
		background-color: white;
		opacity: .5;
	  }
	  
